<h1 class="header center">Quick Reads</h1>

<div class="row center">
  <%= link_to 'Share Your Thoughts', '#', class: 'waves-effect waves-light btn-large green' %>
</div>

<div class="row center">
  <%= link_to 'Read Some Thoughts', '#', class: 'waves-effect waves-light btn-large green' %>
</div>
